{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": false,
    "node": true,
    "es6": true
  },

  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "@"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": { },
  "ignores":["**/node_modules/","**/dist/"]
}